.overlay{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
}

.overlay__content{
    width: 600px;
    min-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
}

.overlay__close{
    font-size: 50px;
    position: absolute;
    top: -19px;
    right: -41px;
    color: #fff;
    cursor: pointer;
}